@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";
@import "theme.css";
/* Components */
@import "components/status-bar.css";
@import "components/nav.css";
/* Screens */
@import "screens/loading.css";
@import "screens/login.css";

body{
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  background-color: whitesmoke;
  color:var(--color-font-black);
  display:flex;
  flex-wrap: wrap;
}
main{
  width:270px;
  height:600px;
  box-sizing: border-box;
  background-color: var(--theme-c-bground);
  margin:10px;
  position: relative;
}