:root{
  /*color*/
  --color-font-black:#0E0E0E;
  --color-font-grey:rgba(0,0,0,0.3);
  --color-border:#808080;
  /*font size*/
  --font-title1:17px;
  --font-subtitle1:12px;
  --font-login:14px;
  /*content size*/
  --content-maxlen-w:90%;
  --content-maxlen-margin:5%;
  --content-size1-h:40px;

}