main{
  
}

p::selection{
  background-color: green;
  color:aliceblue;
}
span::selection{
  background-color: green;
  color:aliceblue;
}
#test::selection{
  background-color: green;
  color:aliceblue;
}