.icon-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40px;
  height: var(--content-size3-h);
}
.icon-menu span{
  display: block;
  height: 20px;
  font-size: var(--font-subtitle1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.icon-menu i{
  font-size: var(--icon-size-1);
}