.info-top{
  width:var(--content-maxlen-w);
  height:var(--content-size2-h);
  margin:0px var(--content-maxlen-margin);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:5px;
  font-weight: 800;
}
.info-top span{
  font-size: 23px;
}
.info-top i{
  margin-left: 10px;
  font-size: var(--font-title1);
}
.info-top__dot{
  position: relative;
}
.info-top__dot span{
  top:-5px;
  right:-5px;
}
.info-top > a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.info-top a:link,
.info-top a:visited{
  color:var(--color-font-black);
}
.info-top--ver2 > span,
.info-top--ver2 > a,
.info-top--ver2 > i{
  display: flex;
  width:33%;
  height: 100%;
  align-items: center;
}
.info-top--ver2 span{
  justify-content: center;
  font-size: var(--font-title1);
}
.info-top--ver2 i{
  justify-content: flex-end;
  margin: 0;
}
.info-top--ver2 > a{
  justify-content: flex-start;
}