.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-c-main);
}
.loading a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.loading i{
  color:var(--icon-c-main);
  font-size: 80px;
}