.settings-menu{
  width:var(--content-maxlen-w);
  height:Var(--content-size1-h);
  margin: 5px var(--content-maxlen-margin);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.settings-info{
  display: flex;
  align-items: center;
}
.settings-info i{
  margin-right: 10px;
}
.settings-info span:nth-child(3){
  width:var(--font-login);
  height:var(--font-login);
  border-radius: 50%;
  margin-left: 5px;
  background-color: tomato;
  color:white;
  font-size: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings-additional{
  color:var(--color-font-grey);
}
.settings-info a{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-title1);
}
.settings-info a:link,
.settings-info a:visited{
  color:var(--color-font-black);
}