:root{
  /*color*/
  --color-font-black:#0E0E0E;
  --color-font-grey:rgba(0,0,0,0.3);
  --color-border:#808080;
  /*font size*/
  --font-title1:17px;
  --font-subtitle1:12px;
  --font-login:14px;
  /*button size*/
  --btn-size1-h:40px;
}