body{
  background-color:tomato;
  display:flex;
  margin: 0vh 10vh;
  height:100vh;
  justify-content: center;
  align-items: center;
}
main{
  background-color:antiquewhite;
  width: 40vh;
  height:40vh;
  padding: 2vh;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: black solid;
}
div{
  background-color: teal;
  border: solid white;
  width: 25%;
  height:25%;
}
#middle{
  border-style: dashed;
  width: 80%;
}
