@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');
@import "reset.css";
@import "variables.css";
@import "theme.css";
/* Components */
@import "components/status-bar.css";
@import "components/nav.css";
@import "components/info-top.css";
@import "components/display-box.css";
@import "components/content-div.css";
@import "components/icon-menu.css";
@import "components/keyboard.css";
/* Screens */
@import "screens/loading.css";
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/chats.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat-room.css";

body{
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  background-color: whitesmoke;
}
main{
  width:270px;
  height:600px;
  box-sizing: border-box;
  background-color: var(--theme-c-bground);
  color:var(--color-font-black);
  margin:10px;
  position: relative;
}